/* --- Keep this sheet --- */
/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("components/card.css");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background: #F4F4F4;
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 800px;
}
.text-center {
  text-align: center;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}
.list-inline li {
  display: inline-block;
}

.card {
  flex: 0 0 32%;
}

.card-body {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #B3B3B3;
}
.card-picture {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-likes {
  color: #B3B3B3;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.card-likes li {
  padding: 0 5px;
}
.card-likes i {
  padding-right: 5px;
}
.card-footer {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.card-footer img {
  border-radius: 50%;
  margin-right: 10px;
}
.card-footer a {
  color: #3a8bbb;
  font-weight: bold;
}
.card-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.card-picture:hover .card-hover {
  opacity: 1;
}


